external_url 'http://{{ ansible_host }}'

# Enable Prometheus
prometheus['enable'] = true
prometheus['listen_address'] = '0.0.0.0:9090'
prometheus['monitor_kubernetes'] = false

# Enable Login form
grafana['disable_login_form'] = false

# Enable Grafana
grafana['enable'] = true
grafana['admin_password'] = '{{ ansible_become_password }}'
grafana['allow_user_sign_up'] = true

# Enable service discovery for Prometheus
# consul['enable'] = true
# consul['monitoring_service_discovery'] =  true

# Replace placeholders
# Y.Y.Y.Y consul1.gitlab.example.com Z.Z.Z.Z
# with the addresses of the Consul server nodes
# consul['configuration'] = {
#    retry_join: %w(Y.Y.Y.Y consul1.gitlab.example.com Z.Z.Z.Z),
# }

# Disable all other services
gitlab_rails['auto_migrate'] = false
alertmanager['enable'] = true
gitaly['enable'] = false
gitlab_exporter['enable'] = false
gitlab_workhorse['enable'] = false
nginx['enable'] = true
postgres_exporter['enable'] = false
postgresql['enable'] = false
redis['enable'] = false
redis_exporter['enable'] = false
sidekiq['enable'] = false
puma['enable'] = false
node_exporter['enable'] = false
gitlab_exporter['enable'] = false
